apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fastapi-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/Kacper7011/GKE-Autopilot-GitOps-Starter.git
    targetRevision: deploy/app
    path: k8s
  
  destination:
    server: https://kubernetes.default.svc
    namespace: app
  
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
