apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: argocd-app-binding
  namespace: app

subjects:
  - kind: ServiceAccount
    name: argocd-application-controller
    namespace: argocd

roleRef:
  kind: Role
  name: argocd-app-role
  apiGroup: rbac.authorization.k8s.io